:root {
  --bg-color: rgba(0, 0, 0, 0.25);
  --quiz-bubble-color: #fff;
}

/* General CSS */

* {
  font-family: sans-serif;
  overflow: hidden;
}

body {
  background-image: url(../images/modified-bg-img.png);
  background-position: center unset;
  background-repeat:no-repeat;
  background-size:100% 100vh;
}

p, li, button {
  font-size: 20px;
}

header, main {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

h1 {
  padding: 10px 30px;
  background-color: var(--bg-color);
  border-radius: 1rem;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  border: white 1px dashed;
  filter: drop-shadow(2px 4px 10px black);
  position: absolute;
  top: 10%;
  color: white;
}

h2 {
  text-align: center;
}

button {
  padding: 10px 10px;
  margin: 5px;
  background-color: #643fa7;
  color: #fafafa;
  border-radius: 2rem;
  border: 1px solid black;
  cursor: pointer;
}

/* Specific CSS for every card */

#main-card {
  background-color: var(--bg-color);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  min-width: 800px;
  max-width: 1000px;
  padding: 30px 40px;
  min-height: 400px;
  margin: 10px;
  border: white 1px dashed;
  filter: drop-shadow(2px 4px 10px black);
  position: absolute;
  top: 20%;
  color: white;
}

/* Starting menu card CSS */

.start-card {
  gap: 10px;
}

.start-card p {
  width: 600px;
  text-align: center;
  line-height: 1.5;
}

/* Question card CSS */

.question-card div button {
  border: white 1px solid;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: block;
  align-items: center;
}

.question-card div button:hover {
  background-color: rgba(100, 63, 167, 0.5);
}

#answer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 10px 0;
}

#seconds-left {
  padding-bottom: 5px;
}

.answers {
  text-align: center;
}

/* Results card CSS */

.results-card {
  gap: 15px;
}

#questions-answered {
  font-size: 24px;
}

/* Leaderboard card CSS */

.leaderboard-card {
  gap: 5px;
}

li {
  border: white 1px solid;
  padding: 5px 30px;
  border-radius: 1rem;
  background-color: var(--bg-color);
  margin: 5px;
}

/* Card display types */
/* All card (except for the card currently in use, are given 'display: none;' */

.start-card, .transition-card, .question-card, .results-card, .leaderboard-card {
  display: none;
}

#disappear {
  display: none;
}

#appear {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

/* Minor changes to website for screen sizes */

@media (max-width: 770px) {

  body {
    background-position: center unset;
    background-size: 350%;
    background-repeat:repeat;
  }

  p {
    padding: 10px;
  }

  h1 {
    font-size: 32px;
    top: 9%;
    text-align: center;
  }

  h2 {
    margin: 10px 10px 0px 10px;
  }

  p, li, button {
    font-size: 20px;
  }

  #main-card {
    top: 22%;
    min-width: 100%;
    max-width: auto;
    padding: 0;
    min-height: 400px;
    margin: 5px;
  }

  .start-card p {
    width: auto;
    text-align: center;
  }

  .results-card p {
    text-align: center;
  }

}

@media (max-width: 410px) {
  h1 {
    top: 1%;
  }

  #main-card {
    top: 18%;
  }
}

@media (max-width: 300px) {
  #lb-buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}